In [9]:
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

class OutlierRemover(BaseEstimator, TransformerMixin):
    def __init__(self, columns, method='iqr', threshold=1.5):
        self.columns = columns
        self.method = method
        self.threshold = threshold

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        if isinstance(X, pd.DataFrame):
            X_ = X.copy()
        else:
            X_ = pd.DataFrame(X, columns=self.columns)

        for i, col in enumerate(self.columns):
            print(f"Processing column: {col}")
            print(f"Column type: {X_[col].dtype}")
            print(f"Column head: {X_[col].head()}")
            
            if X_[col].dtype == object:
                print(f"Column {col} is of type object. Skipping...")
                continue
            
            if self.method == 'iqr':
                Q1 = X_[col].quantile(0.25)
                Q3 = X_[col].quantile(0.75)
                IQR = Q3 - Q1
                lower_bound = Q1 - self.threshold * IQR
                upper_bound = Q3 + self.threshold * IQR
                X_.loc[(X_[col] < lower_bound) | (X_[col] > upper_bound), col] = np.nan
            elif self.method == 'zscore':
                z_scores = (X_[col] - X_[col].mean()) / X_[col].std()
                X_.loc[(z_scores < -self.threshold) | (z_scores > self.threshold), col] = np.nan

        return X_.values if isinstance(X, np.ndarray) else X_

df = pd.read_csv('auto-mpg.csv')

numeric_features = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration', 'cylinders', 'model year', 'origin']
categorical_features = ['car name']

df['horsepower'] = pd.to_numeric(df['horsepower'].replace('?', np.nan), errors='coerce')

df['cylinders'] = df['cylinders'].astype(int)
df['model year'] = df['model year'].astype(int)

print(df.dtypes)

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('outlier_remover', OutlierRemover(columns=numeric_features, method='iqr')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(sparse_output=False, drop='first'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

full_pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

df_transformed = full_pipeline.fit_transform(df)

feature_names = (numeric_features +
    full_pipeline.named_steps['preprocessor']
    .named_transformers_['cat']
    .named_steps['onehot']
    .get_feature_names_out(categorical_features).tolist()
)

df_final = pd.DataFrame(df_transformed, columns=feature_names)

print(df_final.head())
print(df_final.shape)

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object
Processing column: mpg
Column type: float64
Column head: 0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64
Processing column: displacement
Column type: float64
Column head: 0    307.0
1    350.0
2    318.0
3    304.0
4    302.0
Name: displacement, dtype: float64
Processing column: horsepower
Column type: float64
Column head: 0    130.0
1    165.0
2    150.0
3    150.0
4    140.0
Name: horsepower, dtype: float64
Processing column: weight
Column type: float64
Column head: 0    3504.0
1    3693.0
2    3436.0
3    3433.0
4    3449.0
Name: weight, dtype: float64
Processing column: acceleration
Column type: float64
Column head: 0    12.0
1    11.5
2    11.0
3    12.0
4    10.5
Name: acceleration, dtype: float64
Processing column: cylinders
Column type: float64
Column head: 0    8.0
1    8.0
2    8.0
3    8.0
4    8.0
Name: cylinders, dtype: float64
Processing column: model year
Column type: float64
Column head: 0    70.0
1    70.0
2    70.0
3    70.0
4    70.0
Name: model year, dtype: float64
Processing column: origin
Column type: float64
Column head: 0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: origin, dtype: float64
        mpg  displacement  horsepower    weight  acceleration  cylinders  \
0 -0.705930      1.090604    0.856977  0.630870     -1.380307   1.498191
1 -1.094058      1.503514    1.900916  0.854333     -1.575497   1.498191
2 -0.705930      1.196232    1.453514  0.550470     -1.770687   1.498191
3 -0.964682      1.061796    1.453514  0.546923     -1.380307   1.498191
4 -0.835306      1.042591    1.155245  0.565841     -1.965876   1.498191

   model year    origin  car name_amc ambassador dpl  \
0   -1.627426 -0.715145                          0.0
1   -1.627426 -0.715145                          0.0
2   -1.627426 -0.715145                          0.0
3   -1.627426 -0.715145                          0.0
4   -1.627426 -0.715145                          0.0

   car name_amc ambassador sst  ...  car name_volvo 145e (sw)  \
0                          0.0  ...                       0.0
1                          0.0  ...                       0.0
2                          0.0  ...                       0.0
3                          0.0  ...                       0.0
4                          0.0  ...                       0.0

   car name_volvo 244dl  car name_volvo 245  car name_volvo 264gl  \
0                   0.0                 0.0                   0.0
1                   0.0                 0.0                   0.0
2                   0.0                 0.0                   0.0
3                   0.0                 0.0                   0.0
4                   0.0                 0.0                   0.0

   car name_volvo diesel  car name_vw dasher (diesel)  car name_vw pickup  \
0                    0.0                          0.0                 0.0
1                    0.0                          0.0                 0.0
2                    0.0                          0.0                 0.0
3                    0.0                          0.0                 0.0
4                    0.0                          0.0                 0.0

   car name_vw rabbit  car name_vw rabbit c (diesel)  \
0                 0.0                            0.0
1                 0.0                            0.0
2                 0.0                            0.0
3                 0.0                            0.0
4                 0.0                            0.0

   car name_vw rabbit custom
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 312 columns]
(398, 312)

In [12]:
df_final.to_csv('auto-mpg-processed.csv', index=False)
df_final.head(-15)

one_hot_columns = full_pipeline.named_steps['preprocessor'].transformers_[1][1].named_steps['onehot'].get_feature_names_out(categorical_features)
print(one_hot_columns)

for col in one_hot_columns:
    print(df_final[col].value_counts())

['car name_amc ambassador dpl' 'car name_amc ambassador sst'
 'car name_amc concord' 'car name_amc concord d/l'
 'car name_amc concord dl' 'car name_amc concord dl 6'
 'car name_amc gremlin' 'car name_amc hornet'
 'car name_amc hornet sportabout (sw)' 'car name_amc matador'
 'car name_amc matador (sw)' 'car name_amc pacer' 'car name_amc pacer d/l'
 'car name_amc rebel sst' 'car name_amc spirit dl' 'car name_audi 100 ls'
 'car name_audi 100ls' 'car name_audi 4000' 'car name_audi 5000'
 'car name_audi 5000s (diesel)' 'car name_audi fox' 'car name_bmw 2002'
 'car name_bmw 320i' 'car name_buick century' 'car name_buick century 350'
 'car name_buick century limited' 'car name_buick century luxus (sw)'
 'car name_buick century special' 'car name_buick electra 225 custom'
 'car name_buick estate wagon (sw)' 'car name_buick lesabre custom'
 'car name_buick opel isuzu deluxe'
 'car name_buick regal sport coupe (turbo)' 'car name_buick skyhawk'
 'car name_buick skylark' 'car name_buick skylark 320'
 'car name_buick skylark limited' 'car name_cadillac eldorado'
 'car name_cadillac seville' 'car name_capri ii'
 'car name_chevroelt chevelle malibu' 'car name_chevrolet bel air'
 'car name_chevrolet camaro' 'car name_chevrolet caprice classic'
 'car name_chevrolet cavalier' 'car name_chevrolet cavalier 2-door'
 'car name_chevrolet cavalier wagon'
 'car name_chevrolet chevelle concours (sw)'
 'car name_chevrolet chevelle malibu'
 'car name_chevrolet chevelle malibu classic'
 'car name_chevrolet chevette' 'car name_chevrolet citation'
 'car name_chevrolet concours' 'car name_chevrolet impala'
 'car name_chevrolet malibu' 'car name_chevrolet malibu classic (sw)'
 'car name_chevrolet monte carlo' 'car name_chevrolet monte carlo landau'
 'car name_chevrolet monte carlo s' 'car name_chevrolet monza 2+2'
 'car name_chevrolet nova' 'car name_chevrolet nova custom'
 'car name_chevrolet vega' 'car name_chevrolet vega (sw)'
 'car name_chevrolet vega 2300' 'car name_chevrolet woody'
 'car name_chevy c10' 'car name_chevy c20' 'car name_chevy s-10'
 'car name_chrysler cordoba' 'car name_chrysler lebaron medallion'
 'car name_chrysler lebaron salon'
 'car name_chrysler lebaron town @ country (sw)'
 'car name_chrysler new yorker brougham' 'car name_chrysler newport royal'
 'car name_datsun 1200' 'car name_datsun 200-sx' 'car name_datsun 200sx'
 'car name_datsun 210' 'car name_datsun 210 mpg' 'car name_datsun 280-zx'
 'car name_datsun 310' 'car name_datsun 310 gx' 'car name_datsun 510'
 'car name_datsun 510 (sw)' 'car name_datsun 510 hatchback'
 'car name_datsun 610' 'car name_datsun 710' 'car name_datsun 810'
 'car name_datsun 810 maxima' 'car name_datsun b-210'
 'car name_datsun b210' 'car name_datsun b210 gx'
 'car name_datsun f-10 hatchback' 'car name_datsun pl510'
 'car name_dodge aries se' 'car name_dodge aries wagon (sw)'
 'car name_dodge aspen' 'car name_dodge aspen 6' 'car name_dodge aspen se'
 'car name_dodge challenger se' 'car name_dodge charger 2.2'
 'car name_dodge colt' 'car name_dodge colt (sw)'
 'car name_dodge colt hardtop' 'car name_dodge colt hatchback custom'
 'car name_dodge colt m/m' 'car name_dodge coronet brougham'
 'car name_dodge coronet custom' 'car name_dodge coronet custom (sw)'
 'car name_dodge d100' 'car name_dodge d200' 'car name_dodge dart custom'
 'car name_dodge diplomat' 'car name_dodge magnum xe'
 'car name_dodge monaco (sw)' 'car name_dodge monaco brougham'
 'car name_dodge omni' 'car name_dodge rampage' 'car name_dodge st. regis'
 'car name_fiat 124 sport coupe' 'car name_fiat 124 tc'
 'car name_fiat 124b' 'car name_fiat 128' 'car name_fiat 131'
 'car name_fiat strada custom' 'car name_fiat x1.9'
 'car name_ford country' 'car name_ford country squire (sw)'
 'car name_ford escort 2h' 'car name_ford escort 4w' 'car name_ford f108'
 'car name_ford f250' 'car name_ford fairmont'
 'car name_ford fairmont (auto)' 'car name_ford fairmont (man)'
 'car name_ford fairmont 4' 'car name_ford fairmont futura'
 'car name_ford fiesta' 'car name_ford futura' 'car name_ford galaxie 500'
 'car name_ford gran torino' 'car name_ford gran torino (sw)'
 'car name_ford granada' 'car name_ford granada ghia'
 'car name_ford granada gl' 'car name_ford granada l' 'car name_ford ltd'
 'car name_ford ltd landau' 'car name_ford maverick'
 'car name_ford mustang' 'car name_ford mustang cobra'
 'car name_ford mustang gl' 'car name_ford mustang ii'
 'car name_ford mustang ii 2+2' 'car name_ford pinto'
 'car name_ford pinto (sw)' 'car name_ford pinto runabout'
 'car name_ford ranger' 'car name_ford thunderbird' 'car name_ford torino'
 'car name_ford torino 500' 'car name_hi 1200d' 'car name_honda accord'
 'car name_honda accord cvcc' 'car name_honda accord lx'
 'car name_honda civic' 'car name_honda civic (auto)'
 'car name_honda civic 1300' 'car name_honda civic 1500 gl'
 'car name_honda civic cvcc' 'car name_honda prelude'
 'car name_maxda glc deluxe' 'car name_maxda rx3' 'car name_mazda 626'
 'car name_mazda glc' 'car name_mazda glc 4' 'car name_mazda glc custom'
 'car name_mazda glc custom l' 'car name_mazda glc deluxe'
 'car name_mazda rx-4' 'car name_mazda rx-7 gs' 'car name_mazda rx2 coupe'
 'car name_mercedes benz 300d' 'car name_mercedes-benz 240d'
 'car name_mercedes-benz 280s' 'car name_mercury capri 2000'
 'car name_mercury capri v6' 'car name_mercury cougar brougham'
 'car name_mercury grand marquis' 'car name_mercury lynx l'
 'car name_mercury marquis' 'car name_mercury marquis brougham'
 'car name_mercury monarch' 'car name_mercury monarch ghia'
 'car name_mercury zephyr' 'car name_mercury zephyr 6'
 'car name_nissan stanza xe' 'car name_oldsmobile cutlass ciera (diesel)'
 'car name_oldsmobile cutlass ls'
 'car name_oldsmobile cutlass salon brougham'
 'car name_oldsmobile cutlass supreme'
 'car name_oldsmobile delta 88 royale' 'car name_oldsmobile omega'
 'car name_oldsmobile omega brougham' 'car name_oldsmobile starfire sx'
 'car name_oldsmobile vista cruiser' 'car name_opel 1900'
 'car name_opel manta' 'car name_peugeot 304' 'car name_peugeot 504'
 'car name_peugeot 504 (sw)' 'car name_peugeot 505s turbo diesel'
 'car name_peugeot 604sl' "car name_plymouth 'cuda 340"
 'car name_plymouth arrow gs' 'car name_plymouth champ'
 'car name_plymouth cricket' 'car name_plymouth custom suburb'
 'car name_plymouth duster' 'car name_plymouth fury'
 'car name_plymouth fury gran sedan' 'car name_plymouth fury iii'
 'car name_plymouth grand fury' 'car name_plymouth horizon'
 'car name_plymouth horizon 4' 'car name_plymouth horizon miser'
 'car name_plymouth horizon tc3' 'car name_plymouth reliant'
 'car name_plymouth sapporo' 'car name_plymouth satellite'
 'car name_plymouth satellite custom'
 'car name_plymouth satellite custom (sw)'
 'car name_plymouth satellite sebring' 'car name_plymouth valiant'
 'car name_plymouth valiant custom' 'car name_plymouth volare'
 'car name_plymouth volare custom' 'car name_plymouth volare premier v8'
 'car name_pontiac astro' 'car name_pontiac catalina'
 'car name_pontiac catalina brougham' 'car name_pontiac firebird'
 'car name_pontiac grand prix' 'car name_pontiac grand prix lj'
 'car name_pontiac j2000 se hatchback' 'car name_pontiac lemans v6'
 'car name_pontiac phoenix' 'car name_pontiac phoenix lj'
 'car name_pontiac safari (sw)' 'car name_pontiac sunbird coupe'
 'car name_pontiac ventura sj' 'car name_renault 12 (sw)'
 'car name_renault 12tl' 'car name_renault 18i' 'car name_renault 5 gtl'
 'car name_renault lecar deluxe' 'car name_saab 99e' 'car name_saab 99gle'
 'car name_saab 99le' 'car name_subaru' 'car name_subaru dl'
 'car name_toyota carina' 'car name_toyota celica gt'
 'car name_toyota celica gt liftback' 'car name_toyota corolla'
 'car name_toyota corolla 1200' 'car name_toyota corolla 1600 (sw)'
 'car name_toyota corolla liftback' 'car name_toyota corolla tercel'
 'car name_toyota corona' 'car name_toyota corona hardtop'
 'car name_toyota corona liftback' 'car name_toyota corona mark ii'
 'car name_toyota cressida' 'car name_toyota mark ii'
 'car name_toyota starlet' 'car name_toyota tercel'
 'car name_toyouta corona mark ii (sw)' 'car name_triumph tr7 coupe'
 'car name_vokswagen rabbit' 'car name_volkswagen 1131 deluxe sedan'
 'car name_volkswagen 411 (sw)' 'car name_volkswagen dasher'
 'car name_volkswagen jetta' 'car name_volkswagen model 111'
 'car name_volkswagen rabbit' 'car name_volkswagen rabbit custom'
 'car name_volkswagen rabbit custom diesel' 'car name_volkswagen rabbit l'
 'car name_volkswagen scirocco' 'car name_volkswagen super beetle'
 'car name_volkswagen type 3' 'car name_volvo 144ea'
 'car name_volvo 145e (sw)' 'car name_volvo 244dl' 'car name_volvo 245'
 'car name_volvo 264gl' 'car name_volvo diesel'
 'car name_vw dasher (diesel)' 'car name_vw pickup' 'car name_vw rabbit'
 'car name_vw rabbit c (diesel)' 'car name_vw rabbit custom']
car name_amc ambassador dpl
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc ambassador sst
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc concord
0.0    396
1.0      2
Name: count, dtype: int64
car name_amc concord d/l
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc concord dl
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc concord dl 6
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc gremlin
0.0    394
1.0      4
Name: count, dtype: int64
car name_amc hornet
0.0    394
1.0      4
Name: count, dtype: int64
car name_amc hornet sportabout (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc matador
0.0    393
1.0      5
Name: count, dtype: int64
car name_amc matador (sw)
0.0    396
1.0      2
Name: count, dtype: int64
car name_amc pacer
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc pacer d/l
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc rebel sst
0.0    397
1.0      1
Name: count, dtype: int64
car name_amc spirit dl
0.0    397
1.0      1
Name: count, dtype: int64
car name_audi 100 ls
0.0    397
1.0      1
Name: count, dtype: int64
car name_audi 100ls
0.0    396
1.0      2
Name: count, dtype: int64
car name_audi 4000
0.0    397
1.0      1
Name: count, dtype: int64
car name_audi 5000
0.0    397
1.0      1
Name: count, dtype: int64
car name_audi 5000s (diesel)
0.0    397
1.0      1
Name: count, dtype: int64
car name_audi fox
0.0    397
1.0      1
Name: count, dtype: int64
car name_bmw 2002
0.0    397
1.0      1
Name: count, dtype: int64
car name_bmw 320i
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick century
0.0    396
1.0      2
Name: count, dtype: int64
car name_buick century 350
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick century limited
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick century luxus (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick century special
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick electra 225 custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick estate wagon (sw)
0.0    396
1.0      2
Name: count, dtype: int64
car name_buick lesabre custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick opel isuzu deluxe
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick regal sport coupe (turbo)
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick skyhawk
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick skylark
0.0    396
1.0      2
Name: count, dtype: int64
car name_buick skylark 320
0.0    397
1.0      1
Name: count, dtype: int64
car name_buick skylark limited
0.0    397
1.0      1
Name: count, dtype: int64
car name_cadillac eldorado
0.0    397
1.0      1
Name: count, dtype: int64
car name_cadillac seville
0.0    397
1.0      1
Name: count, dtype: int64
car name_capri ii
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevroelt chevelle malibu
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet bel air
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet camaro
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet caprice classic
0.0    395
1.0      3
Name: count, dtype: int64
car name_chevrolet cavalier
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet cavalier 2-door
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet cavalier wagon
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet chevelle concours (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet chevelle malibu
0.0    396
1.0      2
Name: count, dtype: int64
car name_chevrolet chevelle malibu classic
0.0    396
1.0      2
Name: count, dtype: int64
car name_chevrolet chevette
0.0    394
1.0      4
Name: count, dtype: int64
car name_chevrolet citation
0.0    395
1.0      3
Name: count, dtype: int64
car name_chevrolet concours
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet impala
0.0    394
1.0      4
Name: count, dtype: int64
car name_chevrolet malibu
0.0    396
1.0      2
Name: count, dtype: int64
car name_chevrolet malibu classic (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet monte carlo
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet monte carlo landau
0.0    396
1.0      2
Name: count, dtype: int64
car name_chevrolet monte carlo s
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet monza 2+2
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet nova
0.0    395
1.0      3
Name: count, dtype: int64
car name_chevrolet nova custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet vega
0.0    395
1.0      3
Name: count, dtype: int64
car name_chevrolet vega (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet vega 2300
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevrolet woody
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevy c10
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevy c20
0.0    397
1.0      1
Name: count, dtype: int64
car name_chevy s-10
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler cordoba
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler lebaron medallion
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler lebaron salon
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler lebaron town @ country (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler new yorker brougham
0.0    397
1.0      1
Name: count, dtype: int64
car name_chrysler newport royal
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 1200
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 200-sx
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 200sx
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 210
0.0    396
1.0      2
Name: count, dtype: int64
car name_datsun 210 mpg
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 280-zx
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 310
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 310 gx
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 510
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 510 (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 510 hatchback
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 610
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 710
0.0    396
1.0      2
Name: count, dtype: int64
car name_datsun 810
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun 810 maxima
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun b-210
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun b210
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun b210 gx
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun f-10 hatchback
0.0    397
1.0      1
Name: count, dtype: int64
car name_datsun pl510
0.0    396
1.0      2
Name: count, dtype: int64
car name_dodge aries se
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge aries wagon (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge aspen
0.0    396
1.0      2
Name: count, dtype: int64
car name_dodge aspen 6
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge aspen se
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge challenger se
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge charger 2.2
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge colt
0.0    395
1.0      3
Name: count, dtype: int64
car name_dodge colt (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge colt hardtop
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge colt hatchback custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge colt m/m
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge coronet brougham
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge coronet custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge coronet custom (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge d100
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge d200
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge dart custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge diplomat
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge magnum xe
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge monaco (sw)
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge monaco brougham
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge omni
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge rampage
0.0    397
1.0      1
Name: count, dtype: int64
car name_dodge st. regis
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat 124 sport coupe
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat 124 tc
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat 124b
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat 128
0.0    396
1.0      2
Name: count, dtype: int64
car name_fiat 131
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat strada custom
0.0    397
1.0      1
Name: count, dtype: int64
car name_fiat x1.9
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford country
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford country squire (sw)
0.0    396
1.0      2
Name: count, dtype: int64
car name_ford escort 2h
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford escort 4w
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford f108
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford f250
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fairmont
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fairmont (auto)
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fairmont (man)
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fairmont 4
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fairmont futura
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford fiesta
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford futura
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford galaxie 500
0.0    395
1.0      3
Name: count, dtype: int64
car name_ford gran torino
0.0    395
1.0      3
Name: count, dtype: int64
car name_ford gran torino (sw)
0.0    396
1.0      2
Name: count, dtype: int64
car name_ford granada
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford granada ghia
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford granada gl
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford granada l
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford ltd
0.0    396
1.0      2
Name: count, dtype: int64
car name_ford ltd landau
0.0    397
1.0      1
Name: count, dtype: int64
car name_ford maverick
0.0    393
1.0      5
Name: count, dtype: int64
car name_ford mustang

In [11]:
df_final[col].value_counts()

car name_vw rabbit custom
0.0    397
1.0      1
Name: count, dtype: int64